name: Deploy Storefront

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Connect & Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd ${{ secrets.APP_PATH }}
          
          echo "游리 Pulling latest updates..."
          git fetch --all
          git reset --hard origin/main

          echo "游리 Installing deps..."
          corepack enable
          yarn install --frozen-lockfile

          echo "游리 Building production..."
          yarn build

          echo "游릭 Restarting PM2..."
          pm2 restart storefront || pm2 start "yarn start" --name storefront --port 8000
          pm2 save

          echo "游 Deployment complete!"




