name: Deploy Storefront to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Create SSH Key
      run: |
        echo "$EC2_KEY" > key.pem
        chmod 600 key.pem

    - name: Deploy to EC2 over SSH
      run: |
        ssh -o StrictHostKeyChecking=no -i key.pem $EC2_USER@$EC2_HOST "
          cd ~/front/zda-store &&
          echo '游리 Pulling latest updates...' &&
          git fetch --all &&
          git reset --hard origin/main &&
          echo '游리 Installing deps...' &&
          corepack enable &&
          yarn install --frozen-lockfile &&
          echo '游리 Building app...' &&
          yarn build &&
          echo '游릭 Restarting PM2...' &&
          pm2 restart storefront || pm2 start 'yarn start' --name storefront --port 8000 &&
          pm2 save &&
          echo '游 Deployment Completed Successfully!'
        "
