name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Deploy to EC2
      env:
        EC2_HOST: ${{ secrets.EC2_HOST }}
        EC2_USER: ${{ secrets.EC2_USER }}
        EC2_KEY:  ${{ secrets.EC2_KEY }}
        EC2_PATH: ${{ secrets.EC2_PATH }}

      run: |
        echo "$EC2_KEY" > key.pem
        chmod 600 key.pem

        echo "游댏 Connecting to EC2..."
        ssh -o StrictHostKeyChecking=no -i key.pem $EC2_USER@$EC2_HOST << 'EOF'

          cd $EC2_PATH

          echo "游리 Pulling latest updates..."
          git fetch --all
          git reset --hard origin/main

          echo "游리 Installing dependencies..."
          corepack enable
          yarn install --frozen-lockfile

          echo "游리 Building production..."
          yarn build

          echo "游릭 Restarting PM2..."
          pm2 restart storefront || pm2 start "yarn start --port 8000" --name storefront
          pm2 save

          echo "游 Deployment complete!"
        EOF
