name: Deploy Backend to EC2

on:
  push:
    branches: ["main"]   # deploys whenever you push to main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy files to EC2
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        source: "."
        target: ${{ secrets.EC2_PATH }}

    - name: SSH into server and perform deploy commands
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd ${{ secrets.EC2_PATH }}
          git pull || true
          yarn install
          pm2 start yarn --name FrontEnd run start